@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap');

@theme{
    --font-poppins: "Poppins", "serif";
    --font-inter: "Inter", "sans-serif";
}

@import "tailwindcss";


.slick-prev:before,
.slick-next:before {
  display: none;
}
